@(pool : Pool)
@import Service.NetworkService
@import Service.BlockStorageService
@import Service.ServerService
@import Service.ImageService

@main{<ol class="breadcrumb"><li class="active">Home</li><li class="active">Pool</li><li class="active">@pool.poolName</li></ol>} {
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary " style="min-height: 300px">
                <div class="panel-heading">Pool Information</div>
                <ul class="list-group">
                    <li class="list-group-item">@pool.poolName</li>
                    <li class="list-group-item">http://@pool.host:@pool.port/@pool.version</li>
                    <li class="list-group-item">@pool.createDate</li>
                    <li class="list-group-item">@pool.updateDate</li>
                </ul>
            </div>
        </div>
        @servers.render(ServerService.getServers(pool.id), pool)

        @images.render(ImageService.getImages(pool.id), pool)

        @block_storage.render(BlockStorageService.getVolumes(pool.id), pool)

        @networks.render(NetworkService.getNetworks(pool.id), pool)
    </div>
}