@import org.openstack4j.model.compute.Server
@(servers: List[Server], pool: Pool)

<div class="col-md-8">
  <div class="panel panel-primary " style="min-height: 300px; max-height: 300px; overflow: auto">
    <div class="panel-heading"><a href="@routes.ServerApplication.getServers(pool.id)" style="text-decoration:none; color : #ffffff ;">Server </a><span class="badge">@servers.size()</span></div>
      <table class="table">
        <thead>
          @for(server <- servers) {
            <tr>
              <th><span class="glyphicon glyphicon-cloud" aria-hidden="true"></span></th>
              <th>@server.getName()</th>
              <th>@server.getHost()</th>
              <th>@server.getVmState()</th>
            </tr>
          }
        </thead>
      </table>
  </div>
</div>

